@model DigitalTraining.Models.Account.LoginViewModel;

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-controller="Account" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="checkbox" asp-for="RememberMe" />
        <label asp-for="RememberMe">Remember me</label>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>

<div>
    <p>
        <a asp-action="Register" asp-controller="Account">Don't have an account? Register here</a>
    </p>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
